node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/reports/
/allure-results/
/package-lock.json
/report/cucumber-report.json
/report/cucumber-report.html
/report/cucumber-report.xml